main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

fieldset {
    margin: 4%;
}


h1 {
    font-size: 28px;
    margin-bottom: 1%;
}

body {
    background-color: rgb(255, 255, 255);
  }


#password,
#name {
    width: 15%;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border-color: rgb(204, 123, 23);
    border-style: solid;
    border-width: 1.5px;
}


img {
    width: 25%;
    margin-top: 1%;
}


input[type="submit"] {
    margin-top: 1%;
    background-color: rgb(80, 80, 255);
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 15%;
    height: 45px;
    padding: 10px 20px;
    cursor: pointer;
}


footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 70px;
    text-align: center;
    margin-top: 3%;
}
