h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    text-align: center;
    margin: 0 auto;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

em {
    font-weight: bold;
}

.productoTitulo {
    font-size: x-large;
}

.textoFilas {
    vertical-align: top;
}

.imagen {
    background-color: rgb(235, 230, 230);
    padding-right: 10px;
}

table {

    background-color: rgb(245, 244, 244);
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
    margin: 0 auto
}

td {
    padding: 10px;
}

tr {
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
}